.pgm
    .tower
        .pgmTitle Программа
        .pgmItems
            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M11.8846 12.8846C11.8846 12.6573 11.9294 12.4323 12.0164 12.2223C12.1033 12.0123 12.2308 11.8215 12.3915 11.6608C12.5523 11.5001 12.7431 11.3726 12.953 11.2856C13.163 11.1986 13.3881 11.1538 13.6154 11.1538C13.8427 11.1538 14.0677 11.1986 14.2777 11.2856C14.4877 11.3726 14.6785 11.5001 14.8392 11.6608C14.9999 11.8215 15.1274 12.0123 15.2144 12.2223C15.3014 12.4323 15.3462 12.6573 15.3462 12.8846C15.3462 13.3436 15.1638 13.7839 14.8392 14.1085C14.5146 14.433 14.0744 14.6154 13.6154 14.6154C13.1564 14.6154 12.7161 14.433 12.3915 14.1085C12.067 13.7839 11.8846 13.3436 11.8846 12.8846ZM13.6154 10C12.8503 10 12.1166 10.3039 11.5757 10.8449C11.0347 11.3859 10.7308 12.1196 10.7308 12.8846C10.7308 13.6497 11.0347 14.3834 11.5757 14.9243C12.1166 15.4653 12.8503 15.7692 13.6154 15.7692C14.3804 15.7692 15.1141 15.4653 15.6551 14.9243C16.1961 14.3834 16.5 13.6497 16.5 12.8846C16.5 12.1196 16.1961 11.3859 15.6551 10.8449C15.1141 10.3039 14.3804 10 13.6154 10ZM19.3846 13.4615C19.3846 13.1555 19.5062 12.862 19.7226 12.6456C19.939 12.4293 20.2324 12.3077 20.5385 12.3077C20.8445 12.3077 21.138 12.4293 21.3544 12.6456C21.5707 12.862 21.6923 13.1555 21.6923 13.4615C21.6923 13.7676 21.5707 14.061 21.3544 14.2774C21.138 14.4938 20.8445 14.6154 20.5385 14.6154C20.2324 14.6154 19.939 14.4938 19.7226 14.2774C19.5062 14.061 19.3846 13.7676 19.3846 13.4615ZM20.5385 11.1538C19.9264 11.1538 19.3395 11.397 18.9067 11.8298C18.4739 12.2625 18.2308 12.8495 18.2308 13.4615C18.2308 14.0736 18.4739 14.6605 18.9067 15.0933C19.3395 15.5261 19.9264 15.7692 20.5385 15.7692C21.1505 15.7692 21.7375 15.5261 22.1702 15.0933C22.603 14.6605 22.8462 14.0736 22.8462 13.4615C22.8462 12.8495 22.603 12.2625 22.1702 11.8298C21.7375 11.397 21.1505 11.1538 20.5385 11.1538ZM9 18.6538C9 18.1948 9.18235 17.7546 9.50693 17.43C9.83151 17.1054 10.2717 16.9231 10.7308 16.9231H16.5C16.959 16.9231 17.3993 17.1054 17.7238 17.43C18.0484 17.7546 18.2308 18.1948 18.2308 18.6538V18.7831C18.2295 18.8359 18.2257 18.8887 18.2192 18.9412C18.1535 19.5005 17.9453 20.0337 17.6146 20.4896C16.9835 21.3608 15.7835 22.1154 13.6154 22.1154C11.4485 22.1154 10.2485 21.3608 9.615 20.4896C9.28472 20.0336 9.07695 19.5004 9.01154 18.9412C9.00579 18.8886 9.00195 18.8359 9 18.7831V18.6538ZM10.1538 18.7577V18.7658L10.1585 18.8223C10.2031 19.1795 10.3373 19.5196 10.5485 19.8112C10.9246 20.3281 11.7438 20.9615 13.6154 20.9615C15.4869 20.9615 16.3062 20.3281 16.6823 19.8112C16.8935 19.5196 17.0276 19.1795 17.0723 18.8223C17.0744 18.8031 17.0759 18.7839 17.0769 18.7646V18.6538C17.0769 18.5008 17.0161 18.3541 16.9079 18.2459C16.7998 18.1377 16.653 18.0769 16.5 18.0769H10.7308C10.5778 18.0769 10.431 18.1377 10.3228 18.2459C10.2146 18.3541 10.1538 18.5008 10.1538 18.6538V18.7577ZM20.5385 20.9615C19.86 20.9615 19.3038 20.8577 18.8538 20.6869C19.0388 20.3481 19.1789 19.9866 19.2704 19.6115C19.5796 19.7281 19.9904 19.8077 20.5385 19.8077C21.8296 19.8077 22.3592 19.3669 22.5923 19.0392C22.7285 18.8481 22.815 18.626 22.8438 18.3931L22.8462 18.3608C22.8449 18.2851 22.814 18.2129 22.7601 18.1598C22.7061 18.1067 22.6334 18.0769 22.5577 18.0769H19.3269C19.2417 17.6585 19.0644 17.2643 18.8077 16.9231H22.5577C23.3538 16.9231 24 17.5692 24 18.3654V18.385C23.9986 18.427 23.9955 18.469 23.9908 18.5108C23.9419 18.9432 23.7839 19.3562 23.5315 19.7108C23.0446 20.3927 22.1319 20.9615 20.5385 20.9615Z" fill="white"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>
                .pgmItemTime 10:00 - 10:15
                .pgmItemContent
                    .pgmItemTitle Открытие
                    .pgmItemSpeakers
                        .pgmItemSpeaker
                            .pgmItemSpeakerImg
                                img(width="40" height="40" alt="Юлия Чупина" src="assets/spk/user.png")
                            .pgmItemSpeakerName
                                .pgmItemSpeakerFio Юлия Чупина
                                //.pgmItemSpeakerPos Agile-коуч

            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M12 10V21.5L22.4048 15.75L12 10Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>
                .pgmItemTime 10:15 - 11:10
                .pgmItemContent
                    .pgmItemTitle Панельная дискуссия
                    //.pgmItemSubTitle Панельная дискуссия: «Будущие модели управления».
                    .pgmItemSpeakers
                        .pgmItemSpeaker
                            .pgmItemSpeakerImg
                                img(width="40" height="40" src="assets/spk/user.png")
                            .pgmItemSpeakerName
                                .pgmItemSpeakerFio Алена Поляк
                                //.pgmItemSpeakerPos Agile-коуч
                        .pgmItemSpeaker
                                .pgmItemSpeakerImg
                                    img(width="40" height="40" src="assets/spk/user.png")
                                .pgmItemSpeakerName
                                    .pgmItemSpeakerFio Анастасия Кондрашова
                        .pgmItemSpeaker
                                .pgmItemSpeakerImg
                                    img(width="40" height="40" src="assets/spk/user.png")
                                .pgmItemSpeakerName
                                    .pgmItemSpeakerFio Юлия Мотина
                        .pgmItemSpeaker
                                .pgmItemSpeakerImg
                                    img(width="40" height="40" src="assets/spk/user.png")
                                .pgmItemSpeakerName
                                    .pgmItemSpeakerFio Сергей Попов
                        .pgmItemSpeaker
                                .pgmItemSpeakerImg
                                    img(width="40" height="40" src="assets/spk/user.png")
                                .pgmItemSpeakerName
                                    .pgmItemSpeakerFio Могилин Артем


            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M14.7727 13.2727C14.7045 12.697 14.428 12.25 13.9432 11.9318C13.4583 11.6136 12.8636 11.4545 12.1591 11.4545C11.6439 11.4545 11.1932 11.5379 10.8068 11.7045C10.4242 11.8712 10.125 12.1004 9.90909 12.392C9.69697 12.6837 9.59091 13.0152 9.59091 13.3864C9.59091 13.697 9.66477 13.964 9.8125 14.1875C9.96402 14.4072 10.1572 14.5909 10.392 14.7386C10.6269 14.8826 10.8731 15.0019 11.1307 15.0966C11.3883 15.1875 11.625 15.2614 11.8409 15.3182L13.0227 15.6364C13.3258 15.7159 13.6629 15.8258 14.0341 15.9659C14.4091 16.1061 14.767 16.2973 15.108 16.5398C15.4527 16.7784 15.7367 17.0852 15.9602 17.4602C16.1837 17.8352 16.2955 18.2955 16.2955 18.8409C16.2955 19.4697 16.1307 20.0379 15.8011 20.5455C15.4754 21.053 14.9981 21.4564 14.3693 21.7557C13.7443 22.0549 12.9848 22.2045 12.0909 22.2045C11.2576 22.2045 10.536 22.0701 9.92614 21.8011C9.32008 21.5322 8.8428 21.1572 8.49432 20.6761C8.14962 20.1951 7.95455 19.6364 7.90909 19H9.36364C9.40152 19.4394 9.54924 19.803 9.80682 20.0909C10.0682 20.375 10.3977 20.5871 10.7955 20.7273C11.197 20.8636 11.6288 20.9318 12.0909 20.9318C12.6288 20.9318 13.1117 20.8447 13.5398 20.6705C13.9678 20.4924 14.3068 20.2462 14.5568 19.9318C14.8068 19.6136 14.9318 19.2424 14.9318 18.8182C14.9318 18.4318 14.8239 18.1174 14.608 17.875C14.392 17.6326 14.108 17.4356 13.7557 17.2841C13.4034 17.1326 13.0227 17 12.6136 16.8864L11.1818 16.4773C10.2727 16.2159 9.55303 15.8428 9.02273 15.358C8.49242 14.8731 8.22727 14.2386 8.22727 13.4545C8.22727 12.803 8.40341 12.2348 8.75568 11.75C9.11174 11.2614 9.58902 10.8826 10.1875 10.6136C10.7898 10.3409 11.4621 10.2045 12.2045 10.2045C12.9545 10.2045 13.6212 10.339 14.2045 10.608C14.7879 10.8731 15.25 11.2367 15.5909 11.6989C15.9356 12.161 16.1174 12.6856 16.1364 13.2727H14.7727ZM22.4986 10.3636V22H21.0895V11.8409H21.0213L18.1804 13.7273V12.2955L21.0895 10.3636H22.4986Z" fill="white"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>
                .pgmItemTime 11:40 - 12:10
                .pgmItemContent
                    .pgmItemTitle Продуктовая стратегия на примере запуска страхового продукта Защита 360°
                    //.pgmItemSubTitle В докладе расскажем, как устроено и работает комьюнити из 100+ Agile-коучей, а также поделимся, какие инструменты развития комьюнити работают в команде, которая уже применяла десятки разных инструментов много раз.
                    .pgmItemSpeakers
                        .pgmItemSpeaker
                            .pgmItemSpeakerImg
                                img(width="40" height="40"  src="assets/spk/user.png")
                            .pgmItemSpeakerName
                                .pgmItemSpeakerFio Барышникова Елена
                                .pgmItemSpeakerPos Владелец продукта в Центре Корпоративного Страхования, Сбер
            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M14.7727 13.2727C14.7045 12.697 14.428 12.25 13.9432 11.9318C13.4583 11.6136 12.8636 11.4545 12.1591 11.4545C11.6439 11.4545 11.1932 11.5379 10.8068 11.7045C10.4242 11.8712 10.125 12.1004 9.90909 12.392C9.69697 12.6837 9.59091 13.0152 9.59091 13.3864C9.59091 13.697 9.66477 13.964 9.8125 14.1875C9.96402 14.4072 10.1572 14.5909 10.392 14.7386C10.6269 14.8826 10.8731 15.0019 11.1307 15.0966C11.3883 15.1875 11.625 15.2614 11.8409 15.3182L13.0227 15.6364C13.3258 15.7159 13.6629 15.8258 14.0341 15.9659C14.4091 16.1061 14.767 16.2973 15.108 16.5398C15.4527 16.7784 15.7367 17.0852 15.9602 17.4602C16.1837 17.8352 16.2955 18.2955 16.2955 18.8409C16.2955 19.4697 16.1307 20.0379 15.8011 20.5455C15.4754 21.053 14.9981 21.4564 14.3693 21.7557C13.7443 22.0549 12.9848 22.2045 12.0909 22.2045C11.2576 22.2045 10.536 22.0701 9.92614 21.8011C9.32008 21.5322 8.8428 21.1572 8.49432 20.6761C8.14962 20.1951 7.95455 19.6364 7.90909 19H9.36364C9.40152 19.4394 9.54924 19.803 9.80682 20.0909C10.0682 20.375 10.3977 20.5871 10.7955 20.7273C11.197 20.8636 11.6288 20.9318 12.0909 20.9318C12.6288 20.9318 13.1117 20.8447 13.5398 20.6705C13.9678 20.4924 14.3068 20.2462 14.5568 19.9318C14.8068 19.6136 14.9318 19.2424 14.9318 18.8182C14.9318 18.4318 14.8239 18.1174 14.608 17.875C14.392 17.6326 14.108 17.4356 13.7557 17.2841C13.4034 17.1326 13.0227 17 12.6136 16.8864L11.1818 16.4773C10.2727 16.2159 9.55303 15.8428 9.02273 15.358C8.49242 14.8731 8.22727 14.2386 8.22727 13.4545C8.22727 12.803 8.40341 12.2348 8.75568 11.75C9.11174 11.2614 9.58902 10.8826 10.1875 10.6136C10.7898 10.3409 11.4621 10.2045 12.2045 10.2045C12.9545 10.2045 13.6212 10.339 14.2045 10.608C14.7879 10.8731 15.25 11.2367 15.5909 11.6989C15.9356 12.161 16.1174 12.6856 16.1364 13.2727H14.7727ZM22.4986 10.3636V22H21.0895V11.8409H21.0213L18.1804 13.7273V12.2955L21.0895 10.3636H22.4986Z" fill="white"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>
                .pgmItemTime 12:10 - 12:40
                .pgmItemContent
                    .pgmItemTitle От идеи до масштабного запуска за 1 год
                    //.pgmItemSubTitle В докладе расскажем, как устроено и работает комьюнити из 100+ Agile-коучей, а также поделимся, какие инструменты развития комьюнити работают в команде, которая уже применяла десятки разных инструментов много раз.
                    .pgmItemSpeakers
                        .pgmItemSpeaker
                            .pgmItemSpeakerImg
                                img(width="40" height="40"  src="assets/spk/user.png")
                            .pgmItemSpeakerName
                                .pgmItemSpeakerFio Пинчук Екатерина
                                .pgmItemSpeakerPos Chief Product Officer, SberDevices, Сбер

            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M14.7727 13.2727C14.7045 12.697 14.428 12.25 13.9432 11.9318C13.4583 11.6136 12.8636 11.4545 12.1591 11.4545C11.6439 11.4545 11.1932 11.5379 10.8068 11.7045C10.4242 11.8712 10.125 12.1004 9.90909 12.392C9.69697 12.6837 9.59091 13.0152 9.59091 13.3864C9.59091 13.697 9.66477 13.964 9.8125 14.1875C9.96402 14.4072 10.1572 14.5909 10.392 14.7386C10.6269 14.8826 10.8731 15.0019 11.1307 15.0966C11.3883 15.1875 11.625 15.2614 11.8409 15.3182L13.0227 15.6364C13.3258 15.7159 13.6629 15.8258 14.0341 15.9659C14.4091 16.1061 14.767 16.2973 15.108 16.5398C15.4527 16.7784 15.7367 17.0852 15.9602 17.4602C16.1837 17.8352 16.2955 18.2955 16.2955 18.8409C16.2955 19.4697 16.1307 20.0379 15.8011 20.5455C15.4754 21.053 14.9981 21.4564 14.3693 21.7557C13.7443 22.0549 12.9848 22.2045 12.0909 22.2045C11.2576 22.2045 10.536 22.0701 9.92614 21.8011C9.32008 21.5322 8.8428 21.1572 8.49432 20.6761C8.14962 20.1951 7.95455 19.6364 7.90909 19H9.36364C9.40152 19.4394 9.54924 19.803 9.80682 20.0909C10.0682 20.375 10.3977 20.5871 10.7955 20.7273C11.197 20.8636 11.6288 20.9318 12.0909 20.9318C12.6288 20.9318 13.1117 20.8447 13.5398 20.6705C13.9678 20.4924 14.3068 20.2462 14.5568 19.9318C14.8068 19.6136 14.9318 19.2424 14.9318 18.8182C14.9318 18.4318 14.8239 18.1174 14.608 17.875C14.392 17.6326 14.108 17.4356 13.7557 17.2841C13.4034 17.1326 13.0227 17 12.6136 16.8864L11.1818 16.4773C10.2727 16.2159 9.55303 15.8428 9.02273 15.358C8.49242 14.8731 8.22727 14.2386 8.22727 13.4545C8.22727 12.803 8.40341 12.2348 8.75568 11.75C9.11174 11.2614 9.58902 10.8826 10.1875 10.6136C10.7898 10.3409 11.4621 10.2045 12.2045 10.2045C12.9545 10.2045 13.6212 10.339 14.2045 10.608C14.7879 10.8731 15.25 11.2367 15.5909 11.6989C15.9356 12.161 16.1174 12.6856 16.1364 13.2727H14.7727ZM22.4986 10.3636V22H21.0895V11.8409H21.0213L18.1804 13.7273V12.2955L21.0895 10.3636H22.4986Z" fill="white"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>
                .pgmItemTime 12:40 - 13:10
                .pgmItemContent
                    .pgmItemTitle Как разработать успешную стратегию, которая поможет развивать продукт. И которую будет не стыдно показать =)
                    //.pgmItemSubTitle В докладе расскажем, как устроено и работает комьюнити из 100+ Agile-коучей, а также поделимся, какие инструменты развития комьюнити работают в команде, которая уже применяла десятки разных инструментов много раз.
                    .pgmItemSpeakers
                        .pgmItemSpeaker
                            .pgmItemSpeakerImg
                                img(width="40" height="40"  src="assets/spk/user.png")
                            .pgmItemSpeakerName
                                .pgmItemSpeakerFio Афанасьев Егор
                                .pgmItemSpeakerPos Chief Product Officer, SberCare, Сбер


            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M16 13.3333C16 12.4444 16.6347 11.5556 17.9049 11.5556C18.5784 11.5556 19.2244 11.288 19.7006 10.8117C20.1769 10.3355 20.4444 9.68953 20.4444 9.016V8.44444M12.4444 13.3333V12.8889C12.4444 12.1816 12.7254 11.5034 13.2255 11.0033C13.7256 10.5032 14.4039 10.2222 15.1111 10.2222V10.2222C15.5826 10.2222 16.0348 10.0349 16.3682 9.70152C16.7016 9.36813 16.8889 8.91594 16.8889 8.44444V8M20.4444 15.6444V18.6667C20.4444 20.0812 19.8825 21.4377 18.8823 22.4379C17.8822 23.4381 16.5256 24 15.1111 24H13.3333C11.9188 24 10.5623 23.4381 9.5621 22.4379C8.5619 21.4377 8 20.0812 8 18.6667V15.6444C8 15.503 8.05619 15.3673 8.15621 15.2673C8.25623 15.1673 8.39188 15.1111 8.53333 15.1111H19.9111C20.0526 15.1111 20.1882 15.1673 20.2882 15.2673C20.3883 15.3673 20.4444 15.503 20.4444 15.6444V15.6444Z" stroke="#EEF3FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.5557 15.1113H21.7779C22.3673 15.1113 22.9325 15.3455 23.3492 15.7622C23.766 16.1789 24.0001 16.7442 24.0001 17.3336C24.0001 17.9229 23.766 18.4882 23.3492 18.9049C22.9325 19.3216 22.3673 19.5558 21.7779 19.5558H20.4446" stroke="#EEF3FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>
                .pgmItemTime 13:10 - 13:20
                .pgmItemContent
                    .pgmItemTitle Перерыв
            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M13.7727 13.2727C13.7045 12.697 13.428 12.25 12.9432 11.9318C12.4583 11.6136 11.8636 11.4545 11.1591 11.4545C10.6439 11.4545 10.1932 11.5379 9.80682 11.7045C9.42424 11.8712 9.125 12.1004 8.90909 12.392C8.69697 12.6837 8.59091 13.0152 8.59091 13.3864C8.59091 13.697 8.66477 13.964 8.8125 14.1875C8.96402 14.4072 9.1572 14.5909 9.39205 14.7386C9.62689 14.8826 9.87311 15.0019 10.1307 15.0966C10.3883 15.1875 10.625 15.2614 10.8409 15.3182L12.0227 15.6364C12.3258 15.7159 12.6629 15.8258 13.0341 15.9659C13.4091 16.1061 13.767 16.2973 14.108 16.5398C14.4527 16.7784 14.7367 17.0852 14.9602 17.4602C15.1837 17.8352 15.2955 18.2955 15.2955 18.8409C15.2955 19.4697 15.1307 20.0379 14.8011 20.5455C14.4754 21.053 13.9981 21.4564 13.3693 21.7557C12.7443 22.0549 11.9848 22.2045 11.0909 22.2045C10.2576 22.2045 9.53598 22.0701 8.92614 21.8011C8.32008 21.5322 7.8428 21.1572 7.49432 20.6761C7.14962 20.1951 6.95455 19.6364 6.90909 19H8.36364C8.40152 19.4394 8.54924 19.803 8.80682 20.0909C9.06818 20.375 9.39773 20.5871 9.79545 20.7273C10.197 20.8636 10.6288 20.9318 11.0909 20.9318C11.6288 20.9318 12.1117 20.8447 12.5398 20.6705C12.9678 20.4924 13.3068 20.2462 13.5568 19.9318C13.8068 19.6136 13.9318 19.2424 13.9318 18.8182C13.9318 18.4318 13.8239 18.1174 13.608 17.875C13.392 17.6326 13.108 17.4356 12.7557 17.2841C12.4034 17.1326 12.0227 17 11.6136 16.8864L10.1818 16.4773C9.27273 16.2159 8.55303 15.8428 8.02273 15.358C7.49242 14.8731 7.22727 14.2386 7.22727 13.4545C7.22727 12.803 7.40341 12.2348 7.75568 11.75C8.11174 11.2614 8.58902 10.8826 9.1875 10.6136C9.78977 10.3409 10.4621 10.2045 11.2045 10.2045C11.9545 10.2045 12.6212 10.339 13.2045 10.608C13.7879 10.8731 14.25 11.2367 14.5909 11.6989C14.9356 12.161 15.1174 12.6856 15.1364 13.2727H13.7727ZM17.4077 22V20.9773L21.2486 16.7727C21.6993 16.2803 22.0705 15.8523 22.3622 15.4886C22.6539 15.1212 22.8698 14.7765 23.0099 14.4545C23.1539 14.1288 23.2259 13.7879 23.2259 13.4318C23.2259 13.0227 23.1274 12.6686 22.9304 12.3693C22.7372 12.0701 22.4721 11.839 22.1349 11.6761C21.7978 11.5133 21.419 11.4318 20.9986 11.4318C20.5516 11.4318 20.1615 11.5246 19.8281 11.7102C19.4986 11.892 19.2429 12.1477 19.0611 12.4773C18.883 12.8068 18.794 13.1932 18.794 13.6364H17.4531C17.4531 12.9545 17.6103 12.3561 17.9247 11.8409C18.2391 11.3258 18.6671 10.9242 19.2088 10.6364C19.7543 10.3485 20.366 10.2045 21.044 10.2045C21.7259 10.2045 22.33 10.3485 22.8565 10.6364C23.383 10.9242 23.7959 11.3125 24.0952 11.8011C24.3944 12.2898 24.544 12.8333 24.544 13.4318C24.544 13.8598 24.4664 14.2784 24.3111 14.6875C24.1596 15.0928 23.8944 15.5455 23.5156 16.0455C23.1406 16.5417 22.6198 17.1477 21.9531 17.8636L19.3395 20.6591V20.75H24.7486V22H17.4077Z" fill="white"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>

                .pgmItemTime 13:20 - 13:50
                .pgmItemContent
                    .pgmItemTitle Ценность исследований
                    //.pgmItemSubTitle Благодаря этому докладу вы узнаете:<br>Как мозг считывает и воспринимает изменения. Почему он боится и как сделать так, чтобы древние части мозга не мешали инновациям. От чего зависит, как мозг воспринимает изменения и как модифицировать изменение чтобы его захотелось делать.
                    .pgmItemSpeakers
                        .pgmItemSpeaker
                            .pgmItemSpeakerImg
                                img(width="40" height="40" src="assets/spk/user.png")
                            .pgmItemSpeakerName
                                .pgmItemSpeakerFio Могилин Артем
                                //.pgmItemSpeakerPos Тренер и консультант
                        .pgmItemSpeaker
                            .pgmItemSpeakerImg
                                img(width="40" height="40" src="assets/spk/user.png")
                            .pgmItemSpeakerName
                                .pgmItemSpeakerFio Попко Павел
            .pgmItem
                .pgmItemIco
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="32" height="32" rx="16" fill="#333F48" fill-opacity="0.4"/>
                    <path d="M17.353 11.5449C17.5608 11.3471 17.8372 11.2377 18.124 11.2399C18.4109 11.2421 18.6856 11.3556 18.8903 11.5565C19.0951 11.7574 19.2137 12.0299 19.2213 12.3167C19.2289 12.6034 19.1248 12.8819 18.931 13.0933L13.0469 20.452C12.9458 20.561 12.8236 20.6484 12.6879 20.7092C12.5521 20.7699 12.4055 20.8026 12.2569 20.8053C12.1082 20.8081 11.9605 20.7808 11.8226 20.7252C11.6847 20.6695 11.5594 20.5867 11.4543 20.4815L7.55222 16.5795C7.44355 16.4782 7.35639 16.3561 7.29594 16.2204C7.23549 16.0848 7.20299 15.9383 7.20037 15.7898C7.19775 15.6413 7.22507 15.4938 7.28069 15.3561C7.33632 15.2183 7.41912 15.0932 7.52414 14.9882C7.62917 14.8832 7.75427 14.8004 7.89199 14.7448C8.02971 14.6891 8.17722 14.6618 8.32573 14.6644C8.47423 14.6671 8.62069 14.6996 8.75636 14.76C8.89203 14.8205 9.01414 14.9076 9.11539 15.0163L12.2034 18.1028L17.3235 11.5773C17.3327 11.5659 17.3426 11.5551 17.353 11.5449ZM15.9963 19.1248L17.353 20.4815C17.4582 20.5864 17.5833 20.6691 17.7211 20.7246C17.8589 20.7801 18.0064 20.8073 18.1549 20.8046C18.3034 20.8018 18.4498 20.7692 18.5854 20.7086C18.7211 20.648 18.8431 20.5608 18.9442 20.452L24.8312 13.0933C24.937 12.9889 25.0206 12.8642 25.0771 12.7268C25.1336 12.5893 25.1619 12.4419 25.1601 12.2933C25.1584 12.1447 25.1267 11.998 25.067 11.8619C25.0073 11.7258 24.9208 11.6032 24.8127 11.5012C24.7045 11.3993 24.5769 11.3203 24.4375 11.2688C24.2981 11.2172 24.1498 11.1944 24.0013 11.2015C23.8529 11.2086 23.7074 11.2455 23.5736 11.3101C23.4397 11.3746 23.3203 11.4655 23.2223 11.5773L18.1007 18.1028L17.3855 17.3861L15.9948 19.1248H15.9963Z" fill="#EEF3FF"/>
                    <rect x="0.5" y="0.5" width="31" height="31" rx="15.5" stroke="white" stroke-opacity="0.1"/>
                    </svg>
                .pgmItemTime 17:30 - 17:45
                .pgmItemContent
                    .pgmItemTitle Закрытие программы



