.player
    .tower
        .playerWr
            .playerHead
                .playerTitle Sbergile
                    span Talks
                .playerDescr Ежегодная конференция Сбера об&nbsp;актуальных практиках управления продуктом. <br><br>Мы поговорим про&nbsp;секреты успешной стратегии продукта, работу с&nbsp;гипотезами и&nbsp;метриками, проведение пользовательских исследований, а&nbsp;также про то, как&nbsp;продуктовые практики позволяют создать лучший клиентский опыт.
            .videoWrapper
                video#player.video-js.vjs-big-play-centered(controls playsinline poster="assets/poster.png")
                    source(src="https://static.sber.link/video/2021/sbergile.m3u8" type="application/x-mpegURL")
