.spk
    .tower
        .pgmTitle Спикеры
            .speakers
                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/afanasiev.png")
                        // У остальных спикоров картики в этом формате
                    .spkFio Афанасьев Егор
                    .spkPos Chief Product Officer, SberCare, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/bakurova.png")
                    .spkFio Бакурова Ангелина
                    .spkPos Управляющий директор-начальник Офиса&nbsp;Agile-трансформации, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/baryshnikova.png")
                    .spkFio Барышникова Елена
                    .spkPos Владелец продукта в&nbsp;Центре&nbsp;Корпоративного&nbsp;Страхования, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/boriskov.png")
                    .spkFio Борисков Никита
                    .spkPos Владелец продукта, Уведомления, Сбербанк Онлайн, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/dyatlova.png")
                    .spkFio Дятлова Ольга
                    .spkPos UX-исследователь, методолог, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/kesel.png")
                    .spkFio Кесель Иван
                    .spkPos CPO продуктовой разработки &laquo;Домклик&nbsp;Эксперт&raquo;

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/kozlov.png")
                    .spkFio Козлов Дмитрий
                    .spkPos Директор акселерационных программ, Product.vision

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/kondrashova.png")
                    .spkFio Кондрашова Анастасия
                    .spkPos Senior Product Manager, Авито

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/kostin.png")
                    .spkFio Костин Никита
                    .spkPos Владелец продукта для проверки гипотез Discovery, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/kyzmin.png")
                    .spkFio Кузьмин Михаил
                    .spkPos Владелец продукта Открытый Диалог и&nbsp;Сберкрафт, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/user.png")
                    .spkFio Могилин Артем
                    .spkPos Лидер трайба &laquo;Особенные&nbsp;решения&raquo;, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/motina.png")
                    .spkFio Мотина Юлия
                    .spkPos Управляющий директор-начальник Продуктового офиса, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/pinchuk.png")
                    .spkFio Пинчук Екатерина
                    .spkPos СРО Layer SberDevices, Исполнительный&nbsp;директор, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/polyak.png")
                    .spkFio Поляк Алена
                    .spkPos CPO mos.ru, ДИТ

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/popko.png")
                    .spkFio Попко Павел
                    .spkPos Ведущий аналитик команды &laquo;Особенный&nbsp;банк&nbsp;для&nbsp;людей&nbsp;с&nbsp;инвалидностью&raquo;, Дивизион&nbsp;&laquo;Особенные&nbsp;решения&raquo;, незрячий&nbsp;эксперт&nbsp;по&nbsp;цифровой&nbsp;доступности, Сбер

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/popov.png")
                    .spkFio Попов Сергей
                    .pgmItemSpeakerPos Директор дивизиона &laquo;Транзакционный&nbsp;бизнес&raquo; ПАО Сбербанк

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/prudnikov.png")
                    .spkFio Прудников Кирилл
                    .spkPos Руководитель направления &laquo;Управление&raquo; в Skillbox

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/pustovit.png")
                    .spkFio Пустовит Александр
                    .spkPos Партнер в Product.Vision

                //.spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/user.png")
                    .spkFio Серегина Елена
                    .spkPos Founder, DataLatte

                .spkItem
                    .spkPhoto
                        .spkPhotoWr
                            img(src="assets/spk/sokolova.png")
                    .spkFio Соколова Юлия
                    .spkPos IT-лидер разработки сервисов для&nbsp;маркетологов, Сбер

                //.spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Чуприна Юлия
                    .spkPos Управляющий директор - начальник Продуктового офиса, Сбер

                //.spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Виктория Романова
                    .spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

