.spk
    .tower
        .pgmTitle Спикеры
            .speakers
                .spkItem
                    .spkPhoto
                        img(src="assets/spk/afanasiev.png")
                        // У остальных спикоров картики в этом формате
                    .spkFio Афанасьев Егор
                    .spkPos Chief Product Officer, SberCare, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Бакурова Ангелина
                    .spkPos Управляющий директор - начальник Офиса Agile-трансформации, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/baryshnikova.png")
                    .spkFio Барышникова Елена
                    .spkPos Владелец продукта в Центре Корпоративного Страхования, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/boriskov.png")
                    .spkFio Борисков Никита
                    .spkPos Владелец продукта, Уведомления, Сбербанк Онлайн, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/dyatlova.png")
                    .spkFio Дятлова Ольга
                    .spkPos UX-исследователь, методолог, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/kesel.png")
                    .spkFio Кесель Иван
                    .spkPos Chief Product Officer Продуктовой разработки направления "Эксперт", ДомКлик от Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Козлов Дмитрий
                    //.spkPos Должность

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/kondrashova.png")
                    .spkFio Кондрашева Анастасия
                    .spkPos Senior Product Manager, Авито

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/kostin.png")
                    .spkFio Костин Никита
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/kyzmin.png")
                    .spkFio Кузьмин Михаил
                    .spkPos Владелец продукта, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Могилин Артем
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Мотина Юлия
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Пинчук Екатерина
                    .spkPos Chief Product Officer, SberDevices, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Поляк Алена
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Попко Павел
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Попов Сергей
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Прудников Кирилл
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Серегина Елена
                    //.spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/sokolova.png")
                    .spkFio Соколова Юлия
                    .spkPos IT лидер разработки сервисов для маркетологов, Сбер

                .spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Чуприна Юлия
                    .spkPos Управляющий директор - начальник Продуктового офиса, Сбер
                
                //.spkItem
                    .spkPhoto
                        img(src="assets/spk/user.png")
                    .spkFio Виктория Романова
                    .spkPos Коммуникации Офиса<br>Agile-трансформации Сбера

                    