doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sbergile Talks Pro
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="robots" content="noindex">
    script.
      try {
        eval("let a=()=>{;;};")
      } catch (e) {
        console.log(e)
        document.location.href = "badbrowser.html"
      }
    block head
    link(rel='stylesheet', href='assets/style.css')

  body
    block content
